extends layout

block content
    .col-md-6.col-md-offset-3
    h1.display-4.m-b-2 Send
    // 참고 : https://teamtreehouse.com/library/creating-a-registration-form-with-pug-jade-2
    form(method='POST' action='/yt')
        div.form-group
        input.form-control(type='text', placeholder='url' name='url')
        button.btn.btn-primary(type='submit') Send